<div class="row">
    <div class="col-md-12">
        @if (HealthCheckDtos == null || !HealthCheckDtos.Any())
        {
            <p>
                <strong>No healthchecks in API...</strong>
            </p>
        }
        else
        {
            <div class="list-group">
                @foreach (var healthCheckDto in HealthCheckDtos)
                {
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                           <div class="d-flex w-100 justify-content-between">
                               <h5 class="mb-1">@healthCheckDto.Name</h5>
                           </div>
                           <small>@healthCheckDto.Alias</small>
                       </a>
                }
            </div>
        }
    </div>
</div>