@page "/configuration-list"
@using Playground.BlazorServerApp.Data
@using Playground.BlazorServerApp.Data.ViewDtos

@inject ConfigurationService ConfigurationService

<div class="row">
    <div class="col-md-12 mb-3">
        <h1>HealthCheck Configurations</h1>
    </div>
    <div class="col-md-3">
        @if (configurations == null || !configurations.Any())
        {
            <p>
                <strong>No configurations in API...</strong>
            </p>
        }
        else
        {
            <div class="list-group">
                @foreach (var config in configurations)
                {
                    var id = config.Id;
                    <a class="list-group-item list-group-item-action flex-column align-items-start" @onclick="@(() => GetConfiguration(id))">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@config.Name</h5>
                            <small>@config.CreatedOn</small>
                        </div>
                        <small>@config.Id</small>
                    </a>
                }
            </div>
        }
    </div>
</div>


@code{
    private ConfigurationDto[] configurations;

    protected override async Task OnInitializedAsync()
    {
        configurations = await ConfigurationService.GetConfigurationsAsync();
    }

    private async void GetConfiguration(Guid id)
    {
        var configuration = await ConfigurationService.GetConfiguration(id);
        Console.WriteLine(configuration.CreatedOn);
    }

}