@page "/configurations"

<div class="row">
    <div class="col-md-4">
        <h3>Configurations</h3>
        <hr/>
        <ConfigurationList OnConfigurationSelection="ConfigurationSelected"/>
    </div>
    <div class="col-md-4">
        <h3>Checks</h3>
        <hr/>
        <HealthCheckList ConfigurationId="@Id"/>
    </div>
</div>